body {
    background: url('https://i.postimg.cc/4xGq05Dx/image.png') no-repeat center center/cover;
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    background-attachment: fixed;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
}
.title, .subtitle {
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.subtitle img {
    width: 250px;
    height: auto;
    margin-top: 10px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }

    .logo img {
        height: 40px;
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    main {
        padding: 20px;
        height: auto;
    }

    h1 {
        font-size: 2em;
    }

    p, .box-details, h2 {
        font-size: 1em;
    }

    .subtitle img {
        width: 150px;
    }

    .box-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .box {
        width: 90%;
        margin: 0 auto;
    }
}